<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시글 목록</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script>
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style>
        * {
            margin: 0;
            padding: 0;
        }
        .navbar-default {
            margin-top: 40px;
        }
        .btn-primary  {
            margin-top: 50px;
            margin-left: 135px;
            padding: 5px;
            border-radius: 3px;
        }
        .container {
            margin-top: 50px;
        }
        .item-btn {
            display: inline-block;

        }

    </style>
</head>

<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'students:stuAll' %}">
        익명 자유게시판
      </a>
    </div>
  </div>
</nav>

<div class="container list-group">
    <div class="list-group-item-info list-group-item">
    게시글 목록
    </div>
    {%  if student_list %}
        {% for s in student_list %}
            <div class="list-group-item">
                <a class="" href="{% url 'students:stuDet' s.s_name %}">{{ s.s_name }} </a>
                <a class="" href="{% url 'students:stuDet' s.s_name %}">{{ pub_date }} </a>
                <a class="" href="{% url 'students:stuDet' s.s_name %}">{{ author }} </a>

{#                <div class="item-btn">#}
{#                    <a class=" btn btn-default btn-xs " href="{% url 'students:stuMod' s.s_name %}">#}
{#                    수정 </a>#}
{#                    <a class="btn btn-danger btn-xs  " href="{% url 'students:stuDel' s.s_name %}">#}
{#                    삭제 </a>#}
{#                </div>#}

            </div>

        {%  endfor %}
    {% else %}
        <p> 등록된 글이 없습니다. </p>
    {% endif %}
</div>
    <a class="btn-primary" href="{% url 'students:reg' %}"> 글 작성 </a>
</body>
</html>